<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.incito.classroom"
    android:versionCode="8"
    android:versionName="V200R001C001B008" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <!--
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <application
        android:name="cn.com.incito.classroom.base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="landscape"
        android:theme="@style/MyAppTheme" >
        <activity
            android:name="cn.com.incito.classroom.ui.activity.SplashActivity"
            android:screenOrientation="landscape" >
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>        </activity>
        <activity
            android:name="cn.com.incito.classroom.ui.activity.GroupListActvity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="cn.com.classroom.SHOW_GROUP_LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.com.incito.classroom.ui.activity.SelectWifiActivity"
            android:screenOrientation="landscape" >
             
        </activity>
        <activity
            android:name="cn.com.incito.classroom.ui.activity.DrawBoxActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="cn.com.classroom.SHOW_DRAWBOX" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.com.incito.classroom.ui.activity.WaitingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.EditGroupInfoActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="cn.com.classroom.SHOW_EDIT_GROUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ConfirmGroupInfoActivity" >
            <intent-filter>
                <action android:name="cn.com.classroom.SHOW_CONFIRM_GROUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 选择分组activity -->
        <activity
            android:name="cn.com.incito.classroom.ui.activity.SelectGroupActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask" >
        </activity>

        <!-- 新建分组activity -->
        <activity
            android:name="cn.com.incito.classroom.ui.activity.GroupCreatActivity"
            android:screenOrientation="landscape" >
        </activity>
        
        <!-- 等待小组其他成员 -->
        <activity android:name="cn.com.incito.classroom.ui.activity.WaitForOtherMembersActivity"
            android:screenOrientation="landscape">
            
        </activity>
        <!-- 老师开始上课activity -->
        <activity android:name="cn.com.incito.classroom.ui.activity.ClassingActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="cn.com.incito.classroom.ui.activity.ClassReadyActivity"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>