<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incito.interclass.persistence.DeviceMapper">

	<select id="getDeviceListByCondition" resultType="com.incito.interclass.entity.Device" parameterType="java.util.Map">
		SELECT	
			tb_device.id,tb_device.imei,tb_device.ctime,tb_user.name AS studentName,
			tb_school.name AS schoolName, tb_class.name AS className
		FROM 
			tb_device
		INNER JOIN 
			tb_student ON tb_student.device_id = tb_device.id
		INNER JOIN
			tb_user ON tb_user.id = tb_student.id
		INNER JOIN 
			tb_class ON tb_class.id = tb_student.class_id
		INNER JOIN 
			tb_school ON tb_school.id = tb_class.school_id
		<where>
			<if test="imei != null and imei != ''">
				tb_device.imei = #{imei}
			</if>
			<if test="schoolName != null and schoolName != ''">
				AND tb_school.name LIKE '%' #{schoolName} '%'
			</if>
		</where>
		ORDER BY
			id
	</select>
	
	<select id="getDeviceByIMEI" resultType="com.incito.interclass.entity.Device" parameterType="java.lang.String">
		SELECT	
			tb_device.id,imei,tb_device.ctime
		FROM 
			tb_device
		WHERE
			imei = #{imei}
		ORDER BY
			id
	</select>
	
	<select id="getDeviceByGroupId" resultType="com.incito.interclass.entity.Device" parameterType="java.lang.Integer">
		SELECT DISTINCT
			tb_device.id,imei,tb_device.table_id AS tableId,tb_device.ctime
		FROM 
			tb_device
		INNER JOIN 
			tb_table ON tb_table.id = tb_device.table_id
		INNER JOIN
			tb_group ON tb_group.table_id = tb_table.id
		WHERE
			tb_group.id = #{groupId}
		ORDER BY
			tb_table.number
	</select>

	<insert id="save" parameterType="com.incito.interclass.entity.Device" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO 
			tb_device(imei,ctime)
		VALUES
			(#{imei},now())
	</insert>
	
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM tb_device WHERE id = #{id} 
	</delete>
</mapper>