<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incito.interclass.persistence.DeviceMapper">

	<select id="getDeviceList" resultType="com.incito.interclass.entity.Device">
		SELECT	
			tb_device.id,imei,table_id,tb_device.ctime,tb_school.name AS schoolName,
			tb_room.name AS roomName,tb_table.number AS tableNumber
		FROM 
			tb_device
		INNER JOIN 
			tb_table ON tb_table.id = tb_device.table_id
		INNER JOIN 
			tb_room ON tb_room.id = tb_table.room_id
		INNER JOIN 
			tb_school ON tb_school.id = tb_room.school_id
		ORDER BY
			id
	</select>
	
	<select id="getDeviceListByRoomId" resultType="com.incito.interclass.entity.Device" parameterType="java.lang.Integer">
		SELECT	
			tb_device.id,imei,tb_device.table_id AS tableId,tb_device.ctime
		FROM 
			tb_device
		INNER JOIN 
			tb_table ON tb_table.id = tb_device.table_id
		WHERE
			tb_table.room_id = #{roomId}
		ORDER BY
			id
	</select>
	
	<select id="getDeviceByGroupId" resultType="com.incito.interclass.entity.Device" parameterType="java.lang.Integer">
		SELECT DISTINCT
			tb_device.id,imei,tb_device.table_id AS tableId,tb_device.ctime
		FROM 
			tb_device
		INNER JOIN 
			tb_table ON tb_table.id = tb_device.table_id
		INNER JOIN
			tb_group ON tb_group.table_id = tb_table.id
		WHERE
			tb_group.id = #{groupId}
		ORDER BY
			tb_table.number
	</select>

	<select id="getDeviceByTableId" resultType="com.incito.interclass.entity.Device" parameterType="java.lang.Integer">
		SELECT DISTINCT
			tb_device.id,imei,tb_device.table_id AS tableId,tb_device.ctime
		FROM 
			tb_device
		INNER JOIN 
			tb_table ON tb_table.id = tb_device.table_id
		WHERE
			tb_table.id = #{tableId}
		ORDER BY
			tb_table.number
	</select>
	
	<insert id="save" parameterType="com.incito.interclass.entity.Device" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO 
			tb_device(imei,table_id,ctime)
		VALUES
			(#{imei},#{tableId},now())
	</insert>
	
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM tb_device WHERE id = #{id} 
	</delete>
</mapper>