<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incito.interclass.persistence.VersionMapper">

	<select id="updateApk" resultType="com.incito.interclass.entity.Version" parameterType="java.util.Integer">
		SELECT	
			id,code,name,description,url,type,ctime
		FROM 
			tb_version
		WHERE
			code>#{oldVersion}
		AND
			tye=#{type}
	</select>
	
</mapper>