<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incito.interclass.persistence.CourseMapper">

	<select id="getCourseList" resultType="com.incito.interclass.entity.Course">
		SELECT	
			id,sum,class_name AS name,class_intro AS intro,create_time AS ctime
		FROM 
			ts_db_course
		ORDER BY
			id
	</select>
	
	<select id="getCourseListByCondition" resultType="com.incito.interclass.entity.Course" parameterType="java.util.Map">
		SELECT	
			id,sum,class_name AS name,class_intro AS intro,create_time AS ctime
		FROM 
			ts_db_course
		<where>
			<if test="name != null and name != ''">
				class_name LIKE '%' #{name} '%'
			</if>
		</where>
		ORDER BY
			id
	</select>

	<select id="getCourseById" resultType="com.incito.interclass.entity.Course" parameterType="java.lang.Integer">
		SELECT	
			id,sum,class_name AS name,class_intro AS intro,create_time AS ctime
		FROM 
			ts_db_course
		WHERE
			id = #{id}
		ORDER BY
			id
	</select>
	
</mapper>