<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incito.interclass.persistence.SchoolMapper">

	<select id="getSchoolListByCondition" resultType="com.incito.interclass.entity.School" parameterType="java.util.Map">
		SELECT	
			id,name,phone,email,school_type AS schoolType,ctime
		FROM 
			ts_db_school
		<where>
			<if test="name != null and name != ''">
				name LIKE '%' #{name} '%'
			</if>
			<if test="schoolType != null and schoolType != -1">
				AND school_type = #{schoolType}
			</if>
		</where>
		ORDER BY
			id
	</select>
	<select id="getSchoolIdByName" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT
			id
		FROM
			ts_db_school
		<where>
			name=#{schoolName}
		</where>
	</select>
</mapper>