<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incito.interclass.persistence.UserMapper">

	<select id="loginForAdmin" resultType="com.incito.interclass.entity.Admin">
		SELECT	
			tb_user.* ,tb_admin.phone
		FROM 
			tb_user
		LEFT JOIN 
			tb_admin
		ON 
			tb_user.id = tb_admin.id
		WHERE 
			tb_user.uname = #{uname} 
			AND tb_user.password = #{password}
			AND tb_user.is_Active = 1
			AND tb_user.role = 1
	</select>

	<select id="loginForTeacher" resultType="com.incito.interclass.entity.Teacher" parameterType="com.incito.interclass.entity.Teacher">
		SELECT 
			u.uid AS id, v.realname AS name,s.name AS schoolName,v.phone AS phone,u.sex AS sex,
			s.id AS schoolId
		FROM 
			ts_user u 
		INNER JOIN ts_user_verified v ON u.uid=v.uid 
		INNER JOIN ts_db_school s ON v.sid=s.id 
		INNER JOIN ts_user_group_link l ON u.uid=l.uid 
		WHERE 
			l.user_group_id=4
			AND u.uname = #{uname} 
			AND u.password = #{password}
	</select>
	
	<select id="getStudentByGroup" resultType="com.incito.interclass.entity.Student" parameterType="java.util.Map">
		SELECT	
			tb_user.* ,tb_student.*
		FROM 
			tb_student
		INNER JOIN
			tb_user ON tb_student.id = tb_user.id
		INNER JOIN
			tb_student_group ON tb_student_group.student_id = tb_student.id
		INNER JOIN
			tb_group ON tb_group.id = tb_student_group.group_id
		WHERE 
			tb_group.id = #{groupId}
	</select>
	
	<select id="getStudent" resultType="com.incito.interclass.entity.Student" parameterType="java.util.Map">
		SELECT	
			tb_user.* ,tb_student.*
		FROM 
			tb_student
		INNER JOIN
			tb_user ON tb_student.id = tb_user.id
		INNER JOIN
			tb_student_group ON tb_student_group.student_id = tb_student.id
		INNER JOIN
			tb_group ON tb_group.id = tb_student_group.group_id
		WHERE 
			tb_user.role = 0
			AND tb_group.class_id = #{classId}
			AND tb_student.number = #{number} 
			AND tb_user.name = #{name}
	</select>
	
	<select id="getStudentByGroupId" resultType="com.incito.interclass.entity.Student" parameterType="java.lang.Integer">
		SELECT	
			tb_user.* ,tb_student.*
		FROM 
			tb_student_group
		INNER JOIN
			tb_user ON tb_student_group.student_id = tb_user.id
		INNER JOIN 
			tb_student ON tb_user.id = tb_student.id
		INNER JOIN 
			tb_group ON tb_student_group.group_id = tb_group.id
		WHERE 
			tb_group.id = #{id}
	</select>
	
	<select id="getTeacherListByCondition" resultType="com.incito.interclass.entity.Teacher" parameterType="java.util.Map">
		SELECT 
			u.uid AS id, v.realname AS name,s.name AS schoolName,v.phone AS phone,u.sex AS sex
		FROM 
			ts_user u 
		INNER JOIN ts_user_verified v ON u.uid=v.uid 
		INNER JOIN ts_db_school s ON v.sid=s.id 
		INNER JOIN ts_user_group_link l ON u.uid=l.uid 
		WHERE 
			l.user_group_id=4
			<if test="name != null and name != ''">
				AND v.realname LIKE '%' #{name} '%' 
			</if>
			<if test="schoolName != null and schoolName != ''">
				AND s.name LIKE '%' #{schoolName} '%' 
			</if>
		ORDER BY
			u.uid
	</select>
	
	<select id="getTeacherByLogin" resultType="com.incito.interclass.entity.Teacher" parameterType="java.lang.String">
		SELECT
			u.uid AS id,
			v.realname AS NAME,
			s. NAME AS schoolName,
			v.phone AS phone,
			u.sex AS sex,
			u.login,
			u.login_salt AS loginSalt,
			u. PASSWORD,
			u.email
		FROM
			ts_user u
		INNER JOIN ts_user_verified v ON u.uid = v.uid
		INNER JOIN ts_db_school s ON v.sid = s.id
		INNER JOIN ts_user_group_link l ON u.uid = l.uid
		WHERE
			v.verified = '1'
		AND l.user_group_id = 4
		AND (
			u.email = #{login}
			OR u.uname = #{login}
			OR u.login = #{login}
		)
	</select>
	
	<insert id="saveUser" parameterType="com.incito.interclass.entity.User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO 
			tb_user(uname,password,name,email,sex,is_active,role,ctime)
		VALUES
			(#{uname},#{password},#{name},#{email},#{sex},#{isActive},#{role},now())
	</insert>
	
	<insert id="saveTeacher" parameterType="com.incito.interclass.entity.Teacher">
		INSERT INTO 
			tb_teacher(id,school_id,idcard,phone)
		VALUES
			(#{id},#{schoolId},#{idcard},#{phone})
	</insert>
	
	<insert id="saveStudent" parameterType="com.incito.interclass.entity.Student">
		INSERT INTO 
			tb_student(id,number,avatar,score)
		VALUES
			(#{id},#{number},#{avatar},0)
	</insert>
	
	<delete id="deleteUser" parameterType="java.lang.Integer">
		DELETE FROM tb_user WHERE id = #{id}
	</delete>
	
	<delete id="deleteTeacher" parameterType="java.lang.Integer">
		DELETE FROM tb_teacher WHERE id = #{id}
	</delete>
	
	<delete id="deleteStudent" parameterType="java.lang.Integer">
		DELETE FROM tb_student WHERE id = #{id}
	</delete>
	<update id="changePoint" parameterType="java.util.Map" > 
	    UPDATE 
	    	tb_student 
	    SET 
		    score = score+#{score}
	    WHERE 
	    	id = #{studentId}
	</update>
	
	<select id="getScore" parameterType="java.lang.String" resultType="com.incito.interclass.entity.Student">
	    SELECT 
	    	tb_student.*
	    FROM
	    	tb_student
	    WHERE
	    	id=#{studentId}
	</select>
	<update id="updateMedals" parameterType="java.util.Map">
	    UPDATE
	     	tb_group
	    SET 
	    	medals=#{medals}
	    WHERE
	    	id=#{groupId}
	</update>
</mapper>